.Booking {
	height: auto;
}
.Plane-seat {
	width: 7vw;
	height: 5vw;
	justify-content: center;
	text-align: center;
	background-color: white;
	border: 5px solid black;
	margin-bottom: 1vw;
}

.Plane-seat:active {
	width: 7vw;
	height: 5vw;
	justify-content: center;
	text-align: center;
	background-color: yellow;
	border: 5px solid black;
	margin-bottom: 1vw;
}

h3 {
	margin-right: 1vw;
}
.Seat-review {
	display: flex !important;
	flex-direction: row;
	align-items: baseline;
}
.Plane-rows {
	width: 9vw;
	height: 4vw;
	margin-right: 0.5vw;
	margin-bottom: 1vw;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Booking-plane-seats {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	background-color: aquamarine;
	border: 5px solid black;
	overflow-y: scroll;
}

.Booking-review {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 10vw;
	padding: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid black;
	z-index: 1000;
	text-align: center;
}
